<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for WP Desk Plugin">
	<description>Sniffs for WordPress WPDesk plugins</description>

	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/wimg/php-compatibility" />

    <rule ref="PHPCompatibility"/>
	<config name="testVersion" value="5.5-"/>

	<rule ref="WordPress"/>

	<config name="text_domain" value="wpdesk-plugin,default,s214-settings-demo"/>

	<arg name="extensions" value="php"/>

	<file>./classes</file>
	<exclude-pattern>*/settings-api/*</exclude-pattern>
</ruleset>
